<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body th:with="person=${T(fr.loicp.simissman.context.PersonContext).getPerson()}">
        <h1>HOME</h1>
        <h5 th:text="${person.username}" th:if="${person}"></h5>
        <a href="/logout" th:if="${person}">Logout</a>
        <ul>
            <li th:each="project : ${projects}">
                <span th:text="${project.name}"></span> - <span th:text="${project.description}"></span>
            </li>
        </ul>
    </body>
</html>